* {
  box-sizing: border-box;
}

html {
  line-height: 1.2;
  font-family: 'Jost', sans-serif;
}

body {
background-image: url("Image/original-6b11cbb03d2fe31957fa7952698c2e9d.webp");
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  color: silver ;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: inherit;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  padding: 0;
  outline: none;
  background: none;
  border: none;
}

input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}
body.dark-theme {
  background-color: #333;
  color: red !important ;
  font-size: 50px;
}

.custom-switch{
  background: white;
}
.header {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);

}
.light .header {
  background-color: white;
  color: black;
}

.dark .header {
  background-color: black;
  color: white;
}

.header .nav-menu a {
  padding: 10px;


}

.header .nav-menu{
  display: flex;
  justify-content: center;
}

.header .buttons button {
  margin: 0 30px 0 0;
}

.dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  background: no-repeat center/100% url("Image/original-6b11cbb03d2fe31957fa7952698c2e9d.webp") ;
}

.dashboard .dashboard-info {
  background: linear-gradient(to right, rgba(15, 12, 41, 0.5), rgba(48, 43, 99, 0.5), rgba(36, 36, 62, 0.5));
  width: 600px;
  height: 350px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  box-shadow:50px 50px 50px 50px rgba(15, 12, 41, 0.5); /* Використовуємо колір з градієнту */
}


.dashboard .dashboard-info h1, p {

  padding: 10px;
}

.dashboard .dashboard-info input {
  margin: 20px 0 0 0;
}
.Container-MovieList{
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: no-repeat center/100% url("Image/original-6b11cbb03d2fe31957fa7952698c2e9d.webp") ;

}
.clicker-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  width: 1200px;
  height: 50px;
  background-color: transparent;
}
.Container-Movies {
  width: 1100px;
  height: 600px;
  background: linear-gradient(to right, rgba(15, 12, 41, 0.5), rgba(48, 43, 99, 0.5), rgba(36, 36, 62, 0.5));
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  margin-top: 75px; /* Враховуючи висоту хедеру */
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
}

.Container-Movies::-webkit-scrollbar {
  width: 8px;
}

.Container-Movies::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.Container-Movies::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.Container-Movies::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}

.clicker-button {
  width: 50px;
  height: 50px;

  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
#Left-clicker {
  background-image: url("Image/icons8-right-button-48.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
}

#Right-clicker{
  background-image: url("Image/icons8-right-button-48.png");
}
.clicker-button:focus {
  outline: none;
}
.clicker-button:hover {
  background: linear-gradient(to right, rgba(15, 12, 41, 0.5), rgba(48, 43, 99, 0.5), rgba(36, 36, 62, 0.5));
}


.click-movies-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 360px;
  margin: 5px;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: 2px solid #302b63;
  transition: transform 0.3s ease;
}
.click-movies-page:hover {
  transform: scale(1.1); /* Збільшення масштабу при наведенні */
}

.Click-photo-page{
  width: 100%;
  height: 300px;
  background : no-repeat center/100%;
}
.Movies-img{  width: 246px;
  height: 300px;
}
.Title-click-page{
  width: 100%;
  height: 40px;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  text-align: center;
}

.Stars-click-page {
  text-align: center;
  width: 100%;
  height: 25px;
  background-repeat: repeat-x;
  background-size: 25px;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
.moviespage-back{

  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: no-repeat center/100% url("Image/original-6b11cbb03d2fe31957fa7952698c2e9d.webp") ;
}

.main-page-films{
  height: 70vh;
  position: fixed;
  top: 55%; /* Початкове положення у вертикальному центрі */
  left: 50%; /* Початкове положення у горизонтальному центрі */
  transform: translate(-50%, -50%); /* Переміщуємо по центру екрану */
  width: 1100px;
  display: flex;
  background-size: contain;
  justify-content: space-between;
  align-items: center;


}



.Left-container{
  text-align: center;
  width: 300px;
  height:500px;
  background: linear-gradient(to right, rgba(15, 12, 41, 0.3), rgba(48, 43, 99, 0.3), rgba(36, 36, 62, 0.3));
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
 align-items: center;

}
.Right-container{
  text-align: center;
  width: 250px;
  height: 500px;
  background: linear-gradient(to right, rgba(15, 12, 41, 0.3), rgba(48, 43, 99, 0.3), rgba(36, 36, 62, 0.3));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.Genere-moviespage{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 250px;
  height: 200px;

}
.Genere{
  display: inline-block;
  padding: 1rem 2rem;
  background:linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: #FFF;

  border-radius: 20%;
  font-size: 10px;
}
.moviespage-title-films{
  text-align: center;
  width: 300px;
  height: 80px;
  background: transparent;
  color: white;
  font-size: 30px;
}
.container-star-genre{

  background: transparent;
  width: 300px;
  height: 60px;
  text-align: center;
  color: white;
  font-size: 20px;

}
.description-film{
  width: 300px;
  height: 100px;
  background: transparent;
display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
  text-align: center;
  transition: all 0.3s ease;

}

.description-film:hover {
  transform: scale(1.5); /* Збільшуємо розмір в 2 рази */
  font-size: 10px; /* Змінюємо розмір шрифту */
  background: linear-gradient(to right, rgba(15, 12, 41, 0.5), rgba(48, 43, 99, 0.5), rgba(36, 36, 62, 0.5));
  border: solid #0f0c29 1px;


}

.play-film {
  display: inline-block;
  padding: 1rem 2rem;
  background:linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: #FFF;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
  border-radius: 20%;
  transition: background-color 0.1s ease;
  cursor: pointer;
}

.play-film:hover {
  background: #302b63;
}

.play-film:before {
  content: "\25B6";
}
.triller-moviespage{
  width: 250px;
  height: 200px;
  background: transparent;
}
.video-triler{
  width: 250px;
  height: 200px;
}
.searchBox {


  transform: translate(0%, -50%);
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  height: 40px;
  border-radius: 80px;
  display: flex;
  align-items: center;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: silver;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: silver;
  font-size: 12px;
  transition: 0.4s;
  line-height: 40px;
  width: 1px;
  flex: 1;
  display: flex;
  text-align: center;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
.hover-3 {
  --b: 0.1em;   /* товщина лінії */
  --c: #1095c1; /* колір */

  color: silver;
  padding-block: var(--b);
  background:
          linear-gradient(var(--c) 50%, #000 0)  calc(100% - var(--_p, 0%))/100% 200%,
          linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
}

.hover-3:hover {
  --_p: 100%;
  --_s: 0.3s;
}
.bold-and-thick-text {
  font-weight: bolder;
}